/* Custom Styles */
body {
    font-family: 'Inter', sans-serif;
}

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://placehold.co/1920x1080/334155/ffffff?text=Khuôn+viên+trường') no-repeat center center;
    background-size: cover;
}

/* CSS cho logo */
.logo {
    height: 40px; /* Bạn có thể điều chỉnh chiều cao này cho phù hợp */
    width: auto;
}
.hero-section {
    background-image: url('IMG/headbg.jpg');
    background-size: cover;
    background-position: center;
    padding: 5rem 0; /* Giữ khoảng cách trên và dưới */
    height: 500px; /* Chiều cao cố định */
}

.connecting-line {
    transform: translateY(-50%);
}
#nganh-hoc h2 {
    font-size: 2.5rem; /* Tăng kích thước tiêu đề */
    line-height: 1.3; /* Điều chỉnh khoảng cách giữa các dòng */
}

#nganh-hoc p {
    font-size: 1.125rem; /* Tăng kích thước đoạn văn */
    line-height: 1.6;
}